<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>hello customer list</h1>

	<table>
		<tr>
			<th>id</th>
			<th>first name</th>
			<th>last name</th>
			<th>email</th>
		</tr>
		<tbody>
			<tr th:each="customer: ${customers}">
				<td th:text="${customer.id}" />
				<td th:text="${customer.firstName}" />
				<td th:text="${customer.lastName}" />
				<td th:text="${customer.lastName}" />
			</tr>
		</tbody>
	</table>

</body>
</html>