<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{../views/layout/main-layout :: main-fragment(  
                                                ~{::title},                                                                                               
                                                 ~{:: #home-nav},  
                                                  ~{:: #home-main-content},
                                                  ~{:: #home-footer} ,
                                                  ~{:: #css-resources} ,
                                                  ~{:: #js-resources} , 
                                                  ~{:: #search}                          
                                               )}">
<head>
<meta charset="UTF-8">
<title>customer list</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


<th:block id="css-resources">

	<link href="../resources/css/main.css" rel="stylesheet"
		th:href="@{/resources/css/main.css}" />

	<link href="../resources/css/bootstrap.css" rel="stylesheet"
		th:href="@{/resources/css/bootstrap.css}" />
</th:block>


</head>
<body>

	<div id="search">
		<input type="search" id = "txtSearch" onkeyup="filter()"  class="form-control" value=""  title="searching customer" placeholder="searching...."/>
	</div>

	<div id="home-nav"
		th:replace="~{../views/fragments/app-fragments :: nav-advance-v2}">Home
		Nav</div>

	<div id="home-main-content">

		<table class="table table-hover" id = "tblListData">
			<thead>
				<tr>
					<th>id</th>
					<th>first name</th>
					<th>last name</th>
					<th>email</th>
					<th>edit</th>
					<th>delete</th>
				</tr>
			</thead>


			<tbody>
				<tr th:each="customer: ${customers}">
					<td th:text="${customer.id}" />
					<td th:text="${customer.firstName}" />
					<td th:text="${customer.lastName}" />
					<td th:text="${customer.email}" />
					<td><a class="btn btn-warning"
						th:href="@{/customer/updateForm/{id}(id=${customer.id})}">edit</a>
					</td>
					<td><a class="btn btn-danger"
						th:href="@{/customer/deleteCustomer/{id}(id=${customer.id})}">delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		<a class="btn btn-primary" th:href="@{/customer/showForm}">Thêm</a>
	</div>


	<div class="row" id="home-footer"
		th:replace="~{/fragments/app-fragments :: copyright}">Footer</div>


	<th:block id="js-resources">

		<!-- Bootstrap core JavaScript
================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="../resources/js/jquery-3.2.1.min.js"
			th:href="@{/resources/js/jquery-3.2.1.min.js}"></script>
		<script src="../resources/js/bootstrap.js"
			th:href="@{/resources/js/bootstrap.js}"></script>


	</th:block>




</body>
</html>