<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:fragment="main-fragment(title,nav,mainContent,footer,cssResource,jsResource,search,export)">
<head>
<meta charset="UTF-8">
<title th:replace="${title}">Page 1 title</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<!-- Bootstrap core CSS- -->
<th:block th:replace="${cssResource} ?: ~{}"></th:block>

</head>
<body>

	<div class="container">
		<!-- 		header -->
		<header>
			<!-- 			menu -->
			<div class="row">
				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
					<nav th:insert="${nav} ?: ~{}"></nav>
				</div>

				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
					<div style="float: right;">
						<a class="navbar" th:href="@{/}"
							th:text="${#httpServletRequest.remoteUser}" id="text-white">tranthanhthuan</a>
					</div>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"
					style="padding-top: 2px;">
					<form th:action="@{/logout}" method="post" style="float: right;">
						<button type="submit" class="btn btn-info btn-lg">
							<span class="glyphicon glyphicon-log-out"></span>Log out
						</button>
					</form>

				</div>
			</div>
		</header>








		<div class="row pd-top-60">
			<!-- 		search function -->
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"
				th:insert="${search} ?: ~{}"></div>
			<!-- 			export function -->
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"
				th:insert="${export} ?: ~{}"></div>
		</div>


		<!-- 	main content -->
		<div class="row pd-top-60" th:insert="${mainContent} ?: ~{}"></div>


		<!-- 		footer content -->
		<div class="row pd-top-60">
			<footer th:insert="${footer} ?: ~{}">
				<p>Footer</p>
			</footer>
		</div>



	</div>






	<!-- Bootstrap core CSS- -->
	<th:block th:replace="${jsResource} ?: ~{}"></th:block>


</body>
</html>